{% extends "nmadb-entrance/base.html" %}

{% block messages %}
<p>
    Į tavo elektroninio pašto dėžutę buvo išsiųstas laiškas
    su užpildyta forma. Ją turi atsispausdinti, pasirašyti
    bei kartu su mokytojo
    {% if base_info.section.title == "Lietuvių filologija" %}
    rekomendacija, geriausiai, tavo nuomone, tave atspindinčiu
    savo kūrybos darbu
    {% else %}
    rekomendacija
    {% endif %}
    ir {{ info.year|add:"-1" }}/{{ info.year }} mokslo metų 
    metiniais įvertinimais atsiųsti į
    {{ info.address }} iki
    {{ info.forms_send_deadline|date:"Y-m-d" }} (spaudo data).
</p>
{% endblock %}
